@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika:wght@400;700&family=Noto+Sans&family=Titan+One&display=swap"); /* styles.css */
:root {
  --first-section-color: #F0D5AC;
  --second-section-color: #C8EED7;
  --third-section-color: #F7C1C1;
  --fourth-section-color: #DFF3CF;

  --first-section-border-color: #876D4C;
  --second-section-border-color: #126C0F;
  --third-section-border-color: #B54147;
  --fourth-section-border-color: #316D00;
}
.margin-for-sections {
  margin-bottom: 7.8vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #131b24;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.main-background {
  width: 100%;
  background-image: url("img/mainFrame.svg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main-container {
  max-width: 118.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header__inner {
  padding: 2.5rem 0 2.8vw 0;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.logo img {
  width: 19.4rem;
}
.header__first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 3rem;
  padding: 0;
  background-color: transparent;
  border: none;
}

.header__btn span {
  height: 0.2rem;
  width: 100%;
  background-color: #131b24;
}

.menu__list {
  display: flex;
  gap: 1.9vw;
}
.menu__list--link {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}


.title-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  position: absolute;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.color1 {
  background-color: #CE3A42;
}
.color2 {
  background-color: #2A9F75;
}
.color3 {
  background-color: #FAFFBC;
}
.color4 {
  background-color: #CE3A42;
}
.color5 {
  background-color: #467D19;
}
.color6 {
  background-color: #F7C1C1;
}


.title-main,
.title-year {
  color: #ce3a42;
  font-family: "Titan One", cursive;
  font-size: 8.3vw;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}
.title-year {
  font-size: 5.5vw;
  margin-bottom: 5vw;
}

.wraper-p {
  width: 55vw;
  text-align: center;
}
.main-text {
  color: #000;
  font-family: "Amatic SC", cursive;
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 4.9vw;
}

.main-btn {
  display: block;
  border-radius: 50px;
  background-color: rgba(18, 108, 15, 1);
  color: white;
  padding: 1rem 6.5rem;
  font-family: "Amatic SC", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 8vw;
  text-decoration: none;
}
/* Next secion_______________________________________________________________________________________________________*/
.line {
  position: relative;
  height: 5vw;
}
.first-section-line-color {
  background: #8FD8D5;
}
.second-section-line-color {
  background: var(--second-section-color);
}
.third-section-line-color {
  background: var(--third-section-color);
  
}
.fourth-section-line-color {
  background: var(--fourth-section-color);
  
}


.snow-background {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.prevBtn, .nextBtn {
  display: none;
}

.snow-section-container {
  position: relative;
  overflow: hidden;
  max-width: 118.5rem;
  margin: 0 auto;
  padding: 2rem 2rem 8vw 2rem;
}

.second-section-titel {
  font-size: 5.5vw;
}
.second-section-titel {
  text-align: center;
  margin-bottom: 0.6rem;
  color: #ce3a42;
  text-align: center;
  font-family: 'Titan One';
  font-size: 5.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.svg-title-1 {
  background-image: url("./svg/titelForSnowSection.svg");
}

.svg-title-2 {
  background-image: url("./svg/titelForSnowSection2.svg");
}

.svg-title-3 {
  background-image: url("./svg/titelForSnowSection3.svg");
}
.svg-title-4 {
  background-image: url("./svg/titelForSnowSection4.svg");
}
.svg-container {
  display: block;
  margin: 0 auto 7.5rem auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 46.5vw;
  height: 34.5vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  justify-items: center;
}
.card-first-section-color {
  background: var(--first-section-color);
  border: 5px solid var(--first-section-border-color);
}
.card-second-section-color {
  background: var(--second-section-color);
  border: 5px solid var(--second-section-border-color);
}
.card-thirst-section-color {
  border:5px solid var(--third-section-border-color);
  background: var(--third-section-color);
  
}
.card-fourth-section-color {
  border:5px solid var(--fourth-section-border-color);
  background: var(--fourth-section-color);
  
}

.card {
  padding: 2.5rem 2.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 52rem;
  min-height: min-content;
}

.card h2,
.card h3 {
  margin: 0;
}
.first-title-cards-top {
  color: #000;
  font-family: "Andika";
  font-size: 2.4vw;
  font-weight: 700;
  letter-spacing: 0.09rem;
}
.second-title-cards-top {
  color: #000;
  font-family: "Andika";
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: 0.062rem;
}
.icon-svg-for-card {
  width: 4.5vw;
  height: 4.5vw;
}
.card-svg-img {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25.69vw;
  width: 90%;
}
.conteiner-for-information p {
  color: #000;
  font-family: "Andika";
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.55px;
}
.icon {
  vertical-align: middle;
  margin-right: 10px;
}
.snow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 /* Это убедится, что снег находится позади другого содержимого */
  overflow: hidden; /* Это предотвратит появление полос прокрутки, если снежинка выходит за границы экрана */
  pointer-events: none; /* Это гарантирует, что снежинки не будут мешать интерактивным элементам */
}

.snowflake {
  position: absolute;
  background-color: #D0EEFF;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  opacity: 0.7;
}
.footer-wrap {
  height: 15vw;
  display: flex;
  flex-direction:column;
  text-align: center;
  justify-content: space-around;
}
.footer-wrap-info {
  display: flex;
  justify-content: space-evenly;
  
}
.footer-p a {
  text-decoration: none;
  color: #131b24;
  font-size: 1.3vw;
}
@media screen and (min-width: 1600px) {
  html {
    font-style: 85%;
  }
  .header__inner {
    padding: 2.5rem 0 .4vw 0;
  }
  .main-background {
    background-size: cover;
    height: min-content;
  }
  .snow-section-container {
    max-width: 100%;
  }
  .card {
    width: 36vw;
    margin: 1.5rem;
  }
  
  .main-container {
        max-width: 1400px;
        margin: 0 auto; /* Центровка контейнера */
    }
    .header {
      margin-bottom: 5vw;
    }

    .svg-container {
      height: 19.5vw;
    }
    .main-text {
      margin-bottom: 4.3vw;
    }
    .main-btn {
      border-radius: 100px;
      padding: 0.7vw 3.5vw;
      font-size: 2.9vw;
      margin-bottom: 8vw;
    }
     
    .circle {
      width: 1.5vw;
      height: 1.5vw;
    }
}

@media screen and (max-width: 1218px) {
  .main-background {
    background-size: cover;
  }
  .card {
    width: 43vw;
  }
  .svg-container {
    margin: 0 auto 5rem auto;
    max-width: 50.5vw;
    height: 28.5vh;
  }
  
  
}
/* Стили для средних экранов (планшеты и небольшие мониторы) */
@media screen and (max-width: 1000px) {
  .main-background {
    width: 100%;
    background-image: url("img/Frame-for-mobile55.svg"); 
    background-position: center;
  }
  .main {
    padding: 0 2rem;
  }
  .logo img {
    width: 16vw;
  }

  .navigation a {
    font-size: 1.9vw;
    margin-left: 1.9vw;
  }

  .main-container {
    max-width: 100vw;
  }
  .header {
    margin-bottom: 4.72vw;
  }

  .title-year {
    margin-bottom: 3.5vw;
  }
  .main-text {
    font-size: 2.7vw;
    margin-bottom: 8.5vw
  }
  .main-btn {
    padding: 1vw 4vw;
    font-size: 2.5vw;
    margin-bottom: 3.5vw
  }

  .svg-container {
    top: 8rem;
  }

  .card {
    width: 40vw;
  }

  .second-section-title {
    font-size: 8vh;
  }
}

/* Стили для маленьких экранов (мобильные устройства) */
@media screen and (max-width: 768px) {
  
  .logo img {
    width: 22vw;
  }
  .logo img {
    width: 15.4rem;
  }
  .circle {
    width: 1.5rem;
    height: 1.5rem;
  }

  .navigation a {
    font-size: 2.3vw;
    margin-left: 2.3vw;
  }

  .main-text {
    font-size: 3.2vw;
  }

  .main-btn {
    padding: 0.8rem 3.5rem;
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 7.5vw;
  }

  .svg-container {
    height: 17.5vh;
    margin: 0 auto 3rem auto;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  

  .card {
    padding: 1.5rem;
    width: 70%;
    max-width: 100%;
  }
  .card-svg-img {
    height: 50vw;
  }
  .first-title-cards-top {
    font-size: 3.6vw;
  }
  .second-title-cards-top {
    font-size: 3vw;
  }

  .second-section-title {
    font-size: 2.9vw;
  }
  .icon-svg-for-card {
    width: 6.5vw;
    height: 6.5vw;
    fill: #83601B;
  }

  .conteiner-for-information p {
    font-size: 3.5vw;
  }
  .main-btn {
    margin-bottom: 3vh;

  }
  .footer-line {
    margin-bottom: 3rem;
  }
  .footer-wrap{
    gap: 4rem;
  }
  .footer-p a {
    font-size: 2vw;
  }
}

@media screen and (max-width: 650px) {
  .header__btn {
    display: flex;
  }
  .header__btn,
  .logo {
    z-index: 7;
    position: relative;
  }
  .menu__list {
    position: absolute;
    background-color: #fff;
    height: 50vh;
    padding-top: 15rem;
    gap: 5rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    border-bottom: solid 0.2rem #699463;
  }
  .menu__list.menu__list--active {
    transform: translateY(0%);
  }
  .main-background {
    width: 100%;
    background-image: url("img/Frame-for-mobile.svg");
  }
  .main-btn {
    padding: 0.4rem 3rem;
    font-size: 2.5rem;
    margin-top: 5.5rem
  }
  
  .grid-container {
    display: none;
  }
  
  .slider-wrapper {
    overflow: hidden;
    width: 75%; /* Отображаемое пространство будет составлять 75% экрана */
    position: relative; /* Необходимо для абсолютного позиционирования кнопок */
    margin: 0 auto 3rem auto; /* Чтобы контейнер был по центру */
  }

  .slider {
    display: flex;
    transition: transform 0.3s;
  }

  .card {
    flex-shrink: 0; /* Предотвратить сжатие элементов */
    width: 100%;
    padding: 2rem;
  }
  .prevBtn, .nextBtn {
    display: block;
    width: 40px;          /* Размеры для круглой формы */
    height: 40px;         
    cursor: pointer;
    position: absolute; 
    top: 60%; 
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50%;   /* Делает кнопку круглой */
    z-index: 10;
    text-align: center;
    line-height: 40px;    /* Центрирование стрелки по вертикали */
}

  .nextBtn {
    right: 10px; 
  }

  .prevBtn {
    left: 10px;
  }
  .prevBtn:active, .nextBtn:active {
    background-color: rgba(0,0,0,0.7);
  }
  .snowflake {
   
    width: 1.8rem;
    height: 1.8rem;
    
  }

  .dots-wrapper {
    display: flex;
    justify-content: center;
    
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}


}

@media screen and (max-width: 480px) {
  .main {
    padding: 0 1rem;
  }
  .main-background {
    /* height: 100vh; */
    width: 100%;
    background-image: url("img/Frame-for-mobile65.svg");
  }
  .circle {
    width: 1.1rem;
    height: 1.1rem;
  }

  .navigation a {
    font-size: 2.9vw;
    margin-left: 2.9vw;
  }
  .title-main-box {
    margin: 12vh 0;
}
  .title-main {
    font-size: 11.5vw;
  }

  .title-year {
    font-size: 9.5vw;
  }

  .wraper-p {
    width: 60%;
  }

  .main-text {
    font-size: 4vw;
    margin-bottom: 5vw
    
  }
  .line {
    height: 7vw;
  }
  .circle {
    width: 2.5vw;
    height: 2.5vw;
  }
  .svg-container {
    width: 52vw;
    height: 12vw;
    margin: 0 auto 1rem auto;
  }
  .snow-section-container {
    padding: 1.5rem 1.5rem 4.5rem 1.5rem;
  }

  
  .second-section-title {
    font-size: 2.5rem;
  }
  .card-svg-img {
    height: 44vw;
  }
  /* .footer-wrap-info {
    flex-direction: column;
    justify-content: space-evenly;
    
  } */
  .footer-p a {
    font-size: 2.2vw;
  }
}
